<div class="social-links">
  <ul>
    {% if author.email %}<li><a href="mailto:{{ author.email }}" class="social-link-item" target="_blank"><i class="fa fa-2x fa-envelope"></i></a></li>{% endif %}
    {% if author.twitter %}<li><a href="http://twitter.com/{{ author.twitter }}" class="social-link-item" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>{% endif %}
    {% if author.github %}<li><a href="http://github.com/{{ author.github }}" class="social-link-item" target="_blank"><i class="fa fa-2x fa-github"></i></a></li>{% endif %}
  </ul>
</div>
